@model QRCheckIn.Models.TodaysEventsVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation</title>
</head>
<body>
<div align="center">
    <img src="~/img/tToberLogo.jpg" />
    <h1>Confirmed!</h1>
    <p>Thanks @Model.AttendeeFirstName, you've been checked in for @Model.EventName.</p>
</div>
</body>
</html>
