
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation</title>
</head>
<body>
<div>
    <img src="~/img/tToberLogo.jpg" />
    <h1>Thanks!</h1>
    <p>Your check in has been confirmed!</p>
</div>
</body>
</html>
