
@{
    ViewBag.Title = "FormTest";
}

<h2>FormTest</h2>
<form action="~/api/Attendees1" method="post">
    <input name="FirstName" />
    <input name="LastName" />
    <input name="Email" />
    <input type="submit" value="Register" />
</form>
