@model QRCheckIn.Models.Attendee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintBadge</title>
</head>
<body>
    <div>
        
        <dl class="dl-horizontal" align ="center">
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dd>
                <img src="https://chart.googleapis.com/chart?cht=qr&chl=@Model.QrCode&chs=100x100" width='100' height='100' />
            </dd>
    
        </dl>
    </div>

</body>
</html>
