@model EventCheckIn.Models.Attendee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintBadge</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="col-md-6">

        
        <div class="panel col-md-12" align="center">
            <p><img style="max-width: 150px" src="~/img/tToberLogo.jpg" /></p>
            <h1>
                <strong>@Html.DisplayFor(model => model.FirstName)</strong> @Html.DisplayFor(model => model.LastName)
            </h1>
    
            <h2>
                @Html.DisplayFor(model => model.Email)
            </h2>
    
            <p>
                <img src="https://chart.googleapis.com/chart?cht=qr&chl=@Model.QrCode&chs=100x100" width='200' height='200' />
            </p>
    
        </div>
    </div>

</body>
</html>
