
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div align="center">
        <p><img src="~/img/tToberLogo.jpg" /></p>
        <h1>Thanks!</h1>
        <p>Your registration for Techtober has been confirmed. You should receive an email shortly that will contain your QR code. Show this code at each event to check in.</p>
    </div>
</body>
</html>
